*{
    margin: 0%;
    padding: 0%;
 
}
body{
    width: 100%;
}

i{
    color: white;
    padding: 5px;
    height: 40px;
    width: 30px;
    float: right;
    
}
.back{
    background-color: black;
    height: 50px;
    text-align: center;
    padding-top:10px ;
}

/* Crousel */
.widthsize{
height: 400px;
width: 100%;
}

/* card css */
.text{
    margin: 20px;
}
.width{
    width: 250px;
   
    
    
}
.text-scroll{
    height: 210px;
    overflow: scroll;
}

.justiy1{
 color: blue;
 text-align: justify;
  text-justify: inter-word;
    
}

/* Map */
.map{
    background-color: red; 
}
iframe{
    margin: 25px;
}

/* Address */

.address h1,h4,h6{
 color: white;
 margin-top: 15px;
  
}

.address p{
    padding: 0;
    color: white;
    margin: auto;
}